@page
@model RazorPage.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin page";
}
@{
    var firstDisabled = "disable";
    var prevDisabled = "disable";
    var lastDisabled = "disable";
    var nextDisabled = "disable";
    if (Model.BookingHistory != null)
    {
        var bookingHistory = Model.BookingHistory;
        int currentPage = Model.BookingHistory.PageIndex;
        int totalPages = Model.BookingHistory.TotalPages;
        int startPage = Math.Max(1, currentPage - 3);
        int endPage = Math.Min(totalPages, currentPage + 3);
        prevDisabled = !Model.BookingHistory.HasPreviousPage ? "disabled" : "";
        firstDisabled = !Model.BookingHistory.HasPreviousPage ? "disabled" : "";
        lastDisabled = !Model.BookingHistory.HasNextPage ? "disabled" : "";
        nextDisabled = !Model.BookingHistory.HasNextPage ? "disabled" : "";
    }
}
<div class="text-center">
    <h1 class="display-4">Welcome back Admin</h1>
</div>
<div class="align-content-center">

    @if (Model.BookingHistory != null && Model.BookingHistory.Count > 0)
    {
        <h2 class="display-6">Booking History</h2>
        <table class="table table-bordered mt-4 table-striped table-hover">
            <thead>
                <tr>
                    <th>Booking Date</th>
                    <th>Total Price</th>
                    <th>Room number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actual Price</th>
                    <th>Customer</th>
                    @* <th></th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.BookingHistory)
                {
                    <tr>
                        <td>@booking.BookingDate.Value.ToShortDateString()</td>
                        <td>@booking.TotalPrice</td>
                        <td>@booking.RoomNumber</td>
                        <td>@booking.StartDate.ToShortDateString()</td>
                        <td>@booking.EndDate.ToShortDateString()</td>
                        <td>@booking.ActualPrice</td>
                        <td>@booking.CustomerName</td>
                       @*  <td>
                            <form method="post">
                                <input type="text" hidden class="form-control" asp-for="BookingReservationId"
                                       value="@booking.BookingReservationID" />
                                <input type="text" hidden class="form-control" asp-for="@Model.PageIndex"
                                       value="BookingHistory.PageIndex" />
                                <button type="submit">Cancel</button>
                            </form>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
        <ul class="pagination gap-4" style="display: flex; justify-content: center;">
            <a asp-page="./Admin"
               asp-route-pageIndex=1
               class="btn btn-secondary @firstDisabled">
                First
            </a>
            <a asp-page="./Admin"
               asp-route-pageIndex="@(Model.BookingHistory.PageIndex - 1)"
               class="btn btn-secondary @prevDisabled">
                Previous
            </a>

            <ul class="pagination d-flex gap-2" style=" margin:5px;">
                @Html.Raw(Model.BookingHistory.GeneratePaginationHtml())
            </ul>

            <a asp-page="./Admin"
               asp-route-pageIndex="@(Model.BookingHistory.PageIndex + 1)"
               class="btn btn-secondary @nextDisabled">
                Next
            </a>

            <a asp-page="./Admin"
               asp-route-pageIndex="@Model.BookingHistory.TotalPages"
               class="btn btn-secondary @lastDisabled">
                Last
            </a>

        </ul>
    }
    else
    {
        <h2>No booking history found</h2>
    }

</div>
